<div class="main-page">
  @if (pokemonToDisplay){
    <app-pokemon-card [pokemonToDisplay]="pokemonToDisplay"></app-pokemon-card>
  } @else {
    <p>No pokemon selected</p>
  }
</div>

<div class="sidebar">
  <h1>Pokedex</h1>
  <section class="pokemon-list-section">
    @if(pokemonResult.previous){
      <button class="meta-button">⬅️</button>
    }
    @if (pokemonResult.next){
      <button class="meta-button">➡️</button>
    }

    @for(pokemonDTO of pokemonResult.results; track pokemonDTO.name){
      <div (click)="getPokemon(pokemonDTO.url)" class="pokemon-list">
        <div class="pokemon-list-elem">
          <p>{{pokemonDTO.name | titlecase}}</p>
          <img [src]="pokemonDTO.simplePokemonImage" [alt]="pokemonDTO.name">
        </div>

      </div>
    }

  </section>
</div>


