<div class="main-page">

    <app-pokemon-card [pokemonToDisplay]="pokemonToDisplay"></app-pokemon-card>

</div>

<div class="sidebar">
  <h1>Pokedex</h1>
  <section class="pokemon-list-section">
    <div class="meta-buttons">
      @if(pokemonResult.previous){
        <button (click)="previous(pokemonResult.previous)" class="meta-button">⬅️</button>
      }
      @if (pokemonResult.next){
        <button (click)="next(pokemonResult.next)" class="meta-button">➡️</button>}
    </div>

    @for(pokemonDTO of pokemonResult.results; track pokemonDTO.name){
      <div (click)="getPokemon(pokemonDTO.url)" class="pokemon-list">
        <div class="pokemon-list-elem">
          <p>{{pokemonDTO.name | titlecase}}</p>
          <img [src]="pokemonDTO.simplePokemonImage" [alt]="pokemonDTO.name">
        </div>

      </div>
    }

  </section>
</div>


