
.pokeball {
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom, #fff 50%, #f00 50%);
  border: 5px solid #000;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  animation: spin 3s ease-in-out infinite;
  position: absolute;
  bottom: 10%;
}

.pokeball::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background: #fff;
  border: 5px solid #000;
  border-radius: 50%;
  z-index: 1;
}

.pokeball::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  z-index: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

/* Conteneur global */
.pokedex-container {
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  height: 100vh; /* Pleine hauteur de la fenêtre */
  background-image: url("/assets/images/pokeball.webp");
  background-size: cover;
  background-position: right 10% bottom 45%;
}
/* Carte Pokémon */
.pokemon-card {
  background-color: #b7abab; /* Couleur de carte claire */
  border: 3px solid black; /* Bordure jaune Pokémon */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Effet d'ombre */
  border-radius: 15px; /* Coins arrondis */
  padding: 20px;
  text-align: center;
  width: 400px;
  height: 490px;
  position: relative; /* Pour l'arrière-plan dynamique */
}


.pokemon-card img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

/* Détails du Pokémon */
.pokemon-details {
  margin-top: 15px;
  padding: 5px;
  background-color: #727d90;
  border-radius: 10px;
}

/* Types de Pokémon */
.pokemon-types .type {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

/* Exemples de classes dynamiques pour les types */
.pokemon-card.grass {
  background-image: linear-gradient(163deg, #fff 0%, #7AC74C 100%);
}

.pokemon-card.fire {
  background-image: linear-gradient(163deg, #fff 0%, #f08030 100%);
}

.pokemon-card.water {
  background-image: linear-gradient(163deg, #fff 0%, #6890f0 100%);
}

.pokemon-card.electric {
  background-image: linear-gradient(163deg, #fff 0%, #f8d030 100%);
}

.pokemon-card.ice {
  background-image: linear-gradient(163deg, #fff 0%, #98d8d8 100%);
}

.pokemon-card.fighting {
  background-image: linear-gradient(163deg, #fff 0%, #c03028 100%);
}

.pokemon-card.poison {
  background-image: linear-gradient(163deg, #fff 0%, #a040a0 100%);
}

.pokemon-card.ground {
  background-image: linear-gradient(163deg, #fff 0%, #e0c068 100%);
}

.pokemon-card.flying {
  background-image: linear-gradient(163deg, #fff 0%, #a890f0 100%);
}

.pokemon-card.psychic {
  background-image: linear-gradient(163deg, #fff 0%, #f85888 100%);
}

.pokemon-card.bug {
  background-image: linear-gradient(163deg, #fff 0%, #a8b820 100%);
}

.pokemon-card.rock {
  background-image: linear-gradient(163deg, #fff 0%, #b8a038 100%);
}

.pokemon-card.ghost {
  background-image: linear-gradient(163deg, #fff 0%, #705898 100%);
}

.pokemon-card.dark {
  background-image: linear-gradient(163deg, #fff 0%, #705848 100%);
}

.pokemon-card.dragon {
  background-image: linear-gradient(163deg, #fff 0%, #7038f8 100%);
}

.pokemon-card.steel {
  background-image: linear-gradient(163deg, #fff 0%, #b8b8d0 100%);
}

.pokemon-card.fairy {
  background-image: linear-gradient(163deg, #fff 0%, #ee99ac 100%);
}

.pokemon-card.normal {
  background-image: linear-gradient(163deg, #fff 0%, #a8a77a 100%);
}

/* Classe pour les Pokémon inconnus */
.pokemon-card.unknown {
  background-image: linear-gradient(163deg, #fff 0%, #727d90 100%);
}

/* Couleurs dynamiques basées sur les types */
.type.grass {
  background-color: #7AC74C;
}

.type.fire {
  background-color: #f08030;
}

.type.water {
  background-color: #6890f0;
}

.type.electric {
  background-color: #f8d030;
}

.type.ice {
  background-color: #98d8d8;
}

.type.fighting {
  background-color: #c03028;
}

.type.poison {
  background-color: #a040a0;
}

.type.ground {
  background-color: #e0c068;
}

.type.flying {
  background-color: #a890f0;
}

.type.psychic {
  background-color: #f85888;
}

.type.bug {
  background-color: #a8b820;
}

.type.rock {
  background-color: #b8a038;
}

.type.ghost {
  background-color: #705898;
}

.type.dark {
  background-color: #705848;
}

.type.dragon {
  background-color: #7038f8;
}

.type.steel {
  background-color: #b8b8d0;
}

.type.fairy {
  background-color: #ee99ac;
}

.type.normal {
  background-color: #A8A77A;
}

.type.unknown{
  background-color: #727d90;
}

/* Hover pour effet dynamique */
.type:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
