.pokeball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #fff 50%, #f00 50%);
  border: 3px solid black;
  position: absolute;
  bottom: 10%;
  cursor: pointer;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.pokeball::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  border: 3px solid black;
  z-index: 2;
}

.pokeball::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 3px;
  background: black;
  z-index: 1;
}



/* Conteneur global */
.pokedex-container {
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  height: 100vh; /* Pleine hauteur de la fenêtre */
  background-image: url("/assets/images/pokeball.webp");
  background-size: cover;
  background-position: right 10% bottom 45%;
}
/* Carte Pokémon */
.pokemon-card {
  background-color: #b7abab; /* Couleur de carte claire */
  border: 3px solid black; /* Bordure jaune Pokémon */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Effet d'ombre */
  border-radius: 15px; /* Coins arrondis */
  padding: 20px;
  text-align: center;
  width: 400px;
  height: 490px;
  position: relative; /* Pour l'arrière-plan dynamique */
}


.pokemon-card img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

/* Détails du Pokémon */
.pokemon-details {
  margin-top: 15px;
  padding: 5px;
  background-color: #727d90;
  border-radius: 10px;
}

/* Types de Pokémon */
.pokemon-types .type {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}



/* Couleurs dynamiques basées sur les types */
.type.grass {
  background-color: #7AC74C;
}

.type.fire {
  background-color: #f08030;
}

.type.water {
  background-color: #6890f0;
}

.type.electric {
  background-color: #f8d030;
}

.type.ice {
  background-color: #98d8d8;
}

.type.fighting {
  background-color: #c03028;
}

.type.poison {
  background-color: #a040a0;
}

.type.ground {
  background-color: #e0c068;
}

.type.flying {
  background-color: #a890f0;
}

.type.psychic {
  background-color: #f85888;
}

.type.bug {
  background-color: #a8b820;
}

.type.rock {
  background-color: #b8a038;
}

.type.ghost {
  background-color: #705898;
}

.type.dark {
  background-color: #705848;
}

.type.dragon {
  background-color: #7038f8;
}

.type.steel {
  background-color: #b8b8d0;
}

.type.fairy {
  background-color: #ee99ac;
}

.type.normal {
  background-color: #A8A77A;
}

.type.unknown{
  background-color: #727d90;
}

/* Hover pour effet dynamique */
.type:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
